@import url("https://fonts.googleapis.com/css2?family=Fasthand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Fjalla One", sans-serif;
  scroll-behavior: smooth;
}

a {
  font-family: "Fjalla One", sans-serif;
  color: #000;
}

#go-to-about-us, #go-to-teachers, #go-to-contacts {
  position: relative;
  bottom: 100px;
}

#go-to-service {
  position: relative;
  bottom: 150px;
}

.wraper {
  width: 100%;
  background-color: #fcf8ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.content {
  width: 92%;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin: 23px 0;
  line-height: 1.5;
  text-transform: uppercase;
}

.description {
  font-size: 14px;
  line-height: 1.5;
  color: #817c78;
  text-transform: uppercase;
  margin-right: 50px;
}

.button {
  width: 165px;
  height: 50px;
  -webkit-box-shadow: 5px 6px 0px #22252a;
          box-shadow: 5px 6px 0px #22252a;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid black;
  background-color: #fd6131;
  color: #fff;
  position: relative;
}

.content-img {
  border: 2px solid black;
  -webkit-box-shadow: 5px 6px 0px #22252a;
          box-shadow: 5px 6px 0px #22252a;
  margin: 20px;
}

.--border {
  border: 2px solid black;
  border-top: none;
  background-color: #fcf8ec;
}

/* HEADER */
.header {
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: #fcf8ec;
  border: 2px solid black;
  border-top: none;
  z-index: 1000;
}
.header .button {
  left: 8.3%;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.burger-menu-icon {
  display: none;
  z-index: 1001;
  cursor: pointer;
  width: 50px;
  height: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-transition: 4s;
  transition: 4s;
}
.burger-menu-icon div {
  width: 40px;
  height: 2px;
  background-color: black;
  position: relative;
}

.burger-line1 {
  top: 2px;
}

.burger-line2 {
  top: 4px;
}

.burger-line3 {
  top: 2px;
}

.burger-line4 {
  top: 4px;
}

.burger-menu {
  position: absolute;
  top: -100vh;
  left: 0;
  height: 100vh;
  width: 100%;
  padding: 60px 0;
  background-color: #fcf8ec;
  -webkit-transition: 1s;
  transition: 1s;
  padding-top: 80px;
}
.burger-menu a {
  line-height: 50px;
}

.header__logo {
  font-family: "Fasthand", cursive;
  font-size: 44px;
  width: 18.5%;
  color: #fd6131;
  z-index: 1001;
  white-space: nowrap;
  margin-right: 50px;
}

.header__nav {
  margin: 46px 0;
  width: 54%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav__link {
  font-size: 16px;
  margin: 0px 20px;
  text-transform: uppercase;
  white-space: nowrap;
}

.header__block-button {
  width: 27.5%;
  height: 100%;
  border-left: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* MAIN AND BLOCK-PHOTO*/
.main-n-block-photo__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}

.main {
  width: 60%;
  height: calc(100vh - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main .button {
  left: 0;
  margin: 35px 0;
}

.block-photo {
  border-left: 2px solid black;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}
.block-photo .content-img {
  position: relative;
  left: 8.3%;
  margin: 0 30px;
}

/* ABOUT US */
.about-us {
  height: calc(100vh - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* SLIDER */
.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 100px);
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  margin-bottom: 80px;
}

.slider__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 25%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
  font-size: 14px;
  padding: 0 15px;
}

.slider__item__photo {
  height: 200px;
  width: auto;
  margin: 12px;
  border: 2px solid black;
  -webkit-box-shadow: 5px 6px 0px #22252a;
          box-shadow: 5px 6px 0px #22252a;
}

.slider__item__title {
  margin: 10px;
  font-size: 18px;
}

.slider__item__description {
  font-size: 14px;
  line-height: 1.1;
  color: #817c78;
  text-align: justify;
}

.slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.slider-prev, .slider-next {
  width: 30px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.slider-prev {
  position: absolute;
  left: 0;
  top: 50%;
}

.slider-next {
  position: absolute;
  right: 0;
  top: 50%;
}

.arrow-left {
  width: 16px;
  height: 16px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-right: none;
  border-top: none;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-left: 8px;
}

.arrow-right {
  width: 16px;
  height: 16px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-left: none;
  border-bottom: none;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-right: 8px;
}

.slider-prev:hover, .slider-next:hover {
  background-color: #fd6131;
}
.slider-prev:hover .arrow-left, .slider-next:hover .arrow-left {
  border: 2px solid rgb(0, 0, 0);
  border-right: none;
  border-top: none;
}
.slider-prev:hover .arrow-right, .slider-next:hover .arrow-right {
  border: 2px solid rgb(0, 0, 0);
  border-left: none;
  border-bottom: none;
}

/* OUR SERVICE */
.service {
  height: calc(100vh - 150px);
}
.service .title {
  margin: 60px 0 30px 0;
}
.service .button {
  margin: 35px calc(50% - 82px) 40px calc(50% - 82px);
  left: 0;
}

.service__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.service__item {
  height: auto;
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 30px;
}

.service__common {
  margin: 25px 0 10px 0;
  text-align: center;
  text-transform: uppercase;
}

.service__line {
  width: 100%;
  height: 2px;
  background-color: black;
}

.service__item__more-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-item: center;
}

.service__item__name {
  height: 70px;
  width: 100%;
  border: 2px solid black;
  -webkit-box-shadow: 5px 6px 0px #22252a;
          box-shadow: 5px 6px 0px #22252a;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.arrow {
  display: none;
  width: 10px;
  height: 10px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  bottom: 32px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.service__item__schedule {
  padding-top: 35px;
}

/* CONTACTS */
.contact-n-block-photo__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-n-block-photo__row .block-photo {
  width: 55%;
}

.contact {
  height: calc(100vh - 100px);
  width: 45%;
}
.contact .title {
  margin: 60px 0 30px 0;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact__form input {
  width: 340px;
  height: 30px;
  border-bottom: 2px solid black;
  margin: 15px 0;
  padding: 0 20px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  z-index: 101;
}
.contact__form .button {
  margin: 30px 0;
}

.bg-text {
  text-transform: uppercase;
  color: grey;
  opacity: 0.3;
  position: relative;
  bottom: 38.4px;
  left: 19.2px;
  letter-spacing: -0.2px;
  z-index: 100;
}

/* FOOTER */
.footer {
  height: 100px;
  background-color: #fcf8ec;
  text-align: center;
  letter-spacing: 2px;
  font-size: 20px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  right: 4%;
  white-space: nowrap;
  margin: 0 10px;
}
.footer a {
  margin: 0 4px;
}

/*MEDIA QUERIES*/
@media (max-width: 1126px) {
  .block-photo, .content-img {
    display: none;
  }
  .main, .contacts {
    width: 100%;
  }
}
@media (max-width: 1020px) {
  .slider__item {
    width: 50%;
  }
}
@media (max-width: 1016px) {
  .service {
    height: auto;
    min-height: 100vh;
  }
  .service__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .service__item {
    width: 85%;
    cursor: pointer;
  }
  .service__item__more-info {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: absolute;
    top: 0%;
    opacity: 0;
    visibility: hidden;
  }
  .arrow {
    display: block;
  }
}
@media (max-width: 890px) {
  .header__block-button {
    display: none;
  }
  .header__row {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
@media (max-width: 606px) {
  .header__nav {
    display: none;
  }
  .header__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .burger-menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 566px) {
  .slider__item {
    width: 100%;
  }
}
@media (max-width: 376px) {
  .main {
    height: auto;
  }
  .about-us {
    margin: 60px 0;
  }
}
@media (max-width: 284px) {
  .contact {
    height: auto;
  }
}
@media (max-height: 680px) {
  .service {
    height: auto;
  }
  .slider-container {
    height: auto;
  }
}
@media (max-height: 573px) {
  .main, .about-us, .slider-container {
    height: auto;
  }
  .about-us {
    margin: 60px 0;
  }
}
/* ACTIVE ELEMENTS */
._active-burger-menu {
  top: 0;
}

._closed-burger_menu_icon .burger-line1 {
  top: 4px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
._closed-burger_menu_icon .burger-line2 {
  top: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
._closed-burger_menu_icon .burger-line3 {
  top: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
._closed-burger_menu_icon .burger-line4 {
  top: 1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

._show-more-info {
  opacity: 1;
  visibility: visible;
  position: relative;
  top: 0;
}

._active-arrow {
  border: none;
  border-left: 2px solid black;
  border-top: 2px solid black;
  bottom: 28px;
}